
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }

    match /properties/{propertyId} {
      // Allow public read access for listings
      allow get, list: if true;
      
      // Secure write operations to the owner
      allow create: if request.auth.uid == request.resource.data.landlordId;
      allow update, delete: if request.auth.uid == resource.data.landlordId;
    }

    match /rentalApplications/{rentalApplicationId} {
        allow read: if get(/databases/$(database)/documents/properties/$(resource.data.propertyId)).data.landlordId == request.auth.uid || request.auth.uid == resource.data.tenantId;
        allow create: if request.auth.uid == request.resource.data.tenantId;
        allow update: if get(/databases/$(database)/documents/properties/$(resource.data.propertyId)).data.landlordId == request.auth.uid;
        // Allow querying by propertyId for landlords or tenantId for tenants
        allow list: if request.auth.uid == request.query.tenantId || (request.query.propertyId != null && get(/databases/$(database)/documents/properties/$(request.query.propertyId)).data.landlordId == request.auth.uid);
    }

    match /leaseAgreements/{leaseId} {
      allow get, update, create, delete: if request.auth.uid == resource.data.landlordId || request.auth.uid == resource.data.tenantId;
      allow list: if request.query.landlordId == request.auth.uid || request.query.tenantId == request.auth.uid;
    }

    match /propertyReviews/{reviewId} {
      allow read;
      allow create: if request.auth.uid == request.resource.data.tenantId;
      allow list: if request.query.propertyId != null;
    }

    match /maintenanceRequests/{requestId} {
      allow get, create, update: if request.auth.uid == resource.data.landlordId || request.auth.uid == resource.data.tenantId;
      allow list: if request.query.landlordId == request.auth.uid || request.query.tenantId == request.auth.uid;
    }

    match /messages/{messageId} {
      allow read, write: if request.auth.uid in resource.data.participantIds;
      allow list: if request.auth.uid == request.query.participantIds[0] || request.auth.uid == request.query.participantIds[1];
    }

    match /transactions/{transactionId} {
      // Allow landlords and tenants to read/write their own transactions
      allow get, update, delete, create: if request.auth.uid == resource.data.landlordId || request.auth.uid == resource.data.tenantId;
      // Allow landlords and tenants to list transactions they are a part of
      allow list: if request.query.landlordId == request.auth.uid || request.query.tenantId == request.auth.uid;
    }
  }
}
