.home-page {
    width: 100%;
    padding-inline: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: auto;

    .home-page-hero {
        width: 100%;

        &-inner {
            width: 100%;
// DESKTOP SCREEN EFFECT
            @media screen and (min-width: $second-md) {
                display: grid;
                grid-template-columns: 0.8fr 1fr 0.8fr;
            }


            &-right {
                // margin-left: 20%;

                h1 {


                    color: black;
                    font-size: 3.5rem;
                    font-weight: 900;

                    margin: 0;
                    padding-block: 0;



                    span {
                        color: $danger;
                        margin: 0;
                        padding: 0;

                    }

                }

                &-line {
                    border-bottom: 1px solid $danger;
                    width: 2.5rem;
                    margin: 2.5rem 0rem 1rem 0rem;
                }

                &-social {
                    margin: 0rem 0rem 2rem 0.5rem;

                    &-top,
                    &-bottom {
                        display: flex;

                        :first-child {
                            border-right: 1px solid;
                            padding-right: 0.5rem;
                            margin-right: 0.5rem;

                        }

                        h4 {
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 1rem;
                            font-weight: 900;
                        }
                    }
                }

                button {
                    margin-top: 1rem;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;
                    background-color: transparent;

                    &:hover {
                        background-color: $danger;
                        color: whitesmoke;
                    }
                }
            }

            &-left {

                &-middle {
                    width: 100%;
                    text-align: center;
                    margin-top: 4rem;

                    i {
                        font-size: 30rem;
                        color: $danger;
                        width: 100%;
                    }
                }

                &-last {
                    text-align: left;

                    span {
                        font-size: 1.5rem;
                        font-weight: 900;
                        color: $danger;
                    }

                    h1 {
                        font-weight: 600;
                    }
                }
            }

            // MOBILE SCREEN
            @media screen and (max-width: $second-md) {
                &-right {
                    text-align: center;

                    &-line {
                        display: none;
                    }

                    &-social {

                        margin: 0;
                        padding-inline: 35%;
                        padding-top: 2rem;
                        width: 100%;

                    }
                }

                &-left {
                    &-last {
                        margin-top: 3rem;
                    }
                }
            }
        }
    }
}